@import url('https://fonts.googleapis.com/css?family=Lora:400,700i');
body{
    background-color:  #3bef57;
    
}
.circular-progress-bar {
    position: relative;
    margin: 0 auto;
    background: #3bef57;;
}

.progress-percentage, .progress-text {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 10px 60px;
    text-decoration-color: black;
}

.progress-percentage {
	font-size: 60px;
    transform: translate(-50%, -85%);
}

.progress-text {
    transform: translate(-50%, 0%);
    color: #ffffff;
    font-size: 21px;
}